.item{
    height: 200px;
    margin:auto;
    width: 30%;

}

#blue {
        background-color: blue;
      }
      
#red {
        background-color: red;
      }

      #main-box {
    
        border: 1px solid black;
        display:flex;
}