

.main {
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #484848
}


.item{
    max-width: 400px;
    margin: 2vh;
    padding: 1em;
    box-shadow: 0px 0px 20px 5px    rgba(153, 153, 153, 1)
    }

    @import 'https://fonts.googleapis.com/css?family=Lato:400,700';
    body {
      color: #484848;
      font-family: 'Lato', sans-serif;
      padding: 1em;
      line-height: 1.5;
    }


    h1 {
        font-size: 3em;
        margin: 0;
        margin-top: 0.3em;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
    p {
        margin-left: 0.3em;
    }

    button {
      font-size: .85em;
      padding: .65em 1em;
      border-radius: .3em;
      outline: 0;
    }
    input {
      border: 2px solid #dcdcdc;
      margin-right: 1em;
    }
    
    button {
        color: white;
        background: #508abc;
        border: solid 1px;
        border-color: rgba(0, 0, 0, .1);
        cursor: pointer;
    }